html {
  font-size: 62.5%;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  font-family: "Public Sans", sans-serif;
  background-color: var(--color-tema);
}

body {
  background: url("../images/bg-desktop.svg");
  background: cover no-repeat;
}

.header a img {
  width: 18rem;
  margin: 1.5rem 4.5rem;
}

.main {
  display: grid;
  grid-template-areas:
    "image info"
    ". social";
  grid-template-columns: 60% auto;
  grid-template-rows: 70% auto;
}

.image {
  grid-area: image;
}
.image {
  margin-left: 4rem;
}

.image img {
  width: 85%;
}

.content {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-right: 6rem;
}

.content h1 {
  padding-bottom: 3.5rem;
  font-size: 3.5rem;
  font-weight: 400px;
}

.content p {
  font-size: 1.6rem;
  font-weight: 100;
  font-family: sans-serif;
  padding-bottom: 2rem;
}

.content .btn-register {
  display: flex;
  width: 15rem;
  padding: 1rem 0;
  border-radius: 50px;
  border-style: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.5rem;
  color: var(--color-tema);
  transition: 0.3s;
}

.content .btn-register:hover {
  background-color: var(--color-select);
  color: #fff;
}

.social {
  grid-area: social;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 2rem;
  padding: 3rem 6rem;
}

.social a {
  color: #fff;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid;
  border-radius: 50px;
  height: 3rem;
  width: 3rem;
}

.social a:hover {
  color: var(--color-select);
}