html {
  font-size: 62.5%;
  background-color: var(--color-tema);
}

body {
  background: url("../images/bg-desktop.svg");
  background: cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header a img {
  width: 30rem;
  padding: 3rem 5rem 6rem;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0 5rem;
}

.image {
  padding: 0 8rem 6rem 0;
  width: 60%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.content h1 {
  padding: 4rem 0 3.5rem;
  font-size: 4.5rem;
  font-weight: 400px;
}

.content p {
  font-size: 1.9rem;
  font-weight: 100;
  padding-bottom: 2rem;
}

.content .btn-register {
  display: flex;
  width: 20rem;
  padding: 1.6rem;
  border-radius: 50px;
  border-style: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.8rem;
  color: var(--color-tema);
  transition: 0.3s;
}

.content .btn-register:hover {
  background-color: var(--color-select);
  color: #fff;
}

.social {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 2rem;
  padding-top: 10rem;
}

.social a {
  color: #fff;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid;
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
}

.social a:hover {
  color: var(--color-select);
}
